
<h2 class="f2 mt0">How to use as component</h2>
<p>
  For more information go to <a href="https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform" target="_blank">this documentation</a>
</p>
<h3 class="f3">Basic example</h3>
<p>
  The following example shows how to use the place autocomplete field with a place change callback function and a focus out
  callback function.
</p>
<p>
  This example assumes two actions are defined in the controller: <strong>done</strong> and <strong>placeChanged</strong>.
  the model.address assumes that the current route loads an object with a property <strong>address</strong>, which is
  going to be bind to the field value.
</p>
<h5 class="f4">Result:</h5>
<p id="message">Message: {{message}}</p>
<p>Full adddress from JSON sent to the callback: {{{fullAddress}}}</p>
<p>Clean string: {{cleanFullAddress}}</p>
<p> Model address: {{model.address}}</p>
<div class="test-place-autocomplete-container" data-google-auto="{{googleAuto}}">
  {{place-autocomplete-field
    value= model.address
    inputClass= 'place-autocomplete--input input-field-example'
    focusOutCallback=(action "done")
    placeChangedCallback=(action "placeChanged")
    placeholder="Custom placeholder"
    preventSubmit=true
  }}
</div>
{{#if placeJSON}}
  <p>Google response</p>
  <pre class="json-result">
    {{placeJSON}}
  </pre>
{{/if}}
<h5 class="f4">Code:</h5>
{{partial 'partials/basic-code-example'}}

<h4 class="f3">Restrictions options</h4>
<p>This place autocomplete field only returns places from Colombia. It happens because a restrictions object is
being passed</p>
<h5 class="f4">Result:</h5>
<div class="test-place-autocomplete-container">
  {{place-autocomplete-field
    value= model.address2
    inputClass= 'place-autocomplete--input-2 input-field-example'
    placeChangedCallback=(action "placeChangedSecondInput")
    restrictions=restrictions
  }}
</div>
{{#if placeJSONSecondInput}}
  <p>Google response</p>
  <pre class="json-result">
    {{placeJSONSecondInput}}
  </pre>
{{/if}}

<h5 class="f4">Code:</h5>
{{partial 'partials/restrictions-code-example'}}
