<p id="message">Message: {{message}}</p>
<p>Full adddress from JSON sent to the callback: {{{fullAddress}}}</p>
<p>Clean string: {{cleanFullAddress}}</p>
<p> Model address: {{model.address}}</p>
<div class="test-place-autocomplete-container" data-google-auto="{{googleAuto}}">
  {{place-autocomplete-field
    value= model.address
    handlerController= this
    inputClass= 'place-autocomplete--input'
    focusOutCallback="done"
    placeChangedCallback="placeChanged"
  }}
</div>
<pre style="font-size: 6px;">
  {{placeJSON}}
</pre>

<h2>Autocomplete 2</h2>
<div class="test-place-autocomplete-container">
  {{place-autocomplete-field
    value= model.address2
    handlerController= this
    inputClass= 'place-autocomplete--input-2'
    inputId='place-autocomplete--input-2'
    placeChangedCallback="placeChangedSecondInput"
    restrictions=restrictions
  }}
</div>
<pre style="font-size: 6px;">
  {{placeJSONSecondInput}}
</pre>

<h2>Autocomplete 3</h2>
<small>Autocomplete with geoLocation and all types searchs.</small>
<p> Model address: {{model.address3}}</p>
<div class="test-place-autocomplete-container">
  {{place-autocomplete-field
    value= model.address3
    handlerController=this
    inputClass= 'place-autocomplete--input-3'
    inputId='place-autocomplete--input-3'
    placeChangedCallback="placeChangedThirdInput"
    types=""
    withGeoLocate=true
  }}
</div>
<pre style="font-size: 6px;">
  {{placeJSONThirdInput}}
</pre>
{{outlet}}
